.contacts {
  &.section {
    padding-top: 5rem;
    margin-bottom: 0;

    @media (max-width: 767px) {
      padding-top: 2.5rem;
    }
  }

  &__grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 3.75rem;
    max-width: 100rem;

    @media (max-width: 1199px) {
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 40rem;
    }
  }

  &__item {
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    color: $dark;
    transition: color 0.3s ease;

    & a {
      transition: color 0.3s ease;

      @media (hover: hover) {
        &:hover {
          color: $primary-color;
        }
      }
    }

    &--time {
      max-width: 18rem;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  &__link {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    transition: border-color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        border-color: $primary-color;
      }
    }

    &--vk {
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='18' viewBox='0 0 27 18' fill='none'%3E%3Cpath d='M26.9231 17.1008H26.6118C25.2251 17.1008 23.838 17.0963 22.4513 17.1053C22.236 17.1053 22.1337 17.0593 22.0529 16.8288C21.3441 14.8048 20.1547 13.1612 18.3329 12.0385C17.3839 11.4542 16.3531 11.1137 15.2229 10.9918V17.0598C15.1875 17.0767 15.1501 17.0891 15.1118 17.0968C12.1094 17.1567 9.25629 16.5999 6.68513 14.9253C4.58385 13.5571 3.07434 11.6601 2.00485 9.38018C1.19149 7.63421 0.647306 5.77032 0.391573 3.85455C0.218302 2.58786 0.129708 1.30868 0 0.00849789H4.64258C4.65629 0.279431 4.67 0.558362 4.68468 0.837293C4.80851 3.18371 5.20988 5.46415 6.25097 7.58562C6.98517 9.08925 7.98074 10.3704 9.42565 11.2257C9.86617 11.4852 10.3478 11.6651 10.8691 11.9081V0.00349913H15.1994V6.77032C15.4676 6.71234 15.7045 6.67785 15.9336 6.60936C17.1827 6.23246 18.1851 5.45965 19.0618 4.50988C20.2069 3.26939 21.0541 1.77409 21.5365 0.141965C21.5507 0.0949765 21.5717 0.0494877 21.5908 0H25.8981C25.5839 1.79955 24.8703 3.40266 23.8424 4.86729C22.8145 6.33193 21.5654 7.56113 20.0412 8.51289C23.5237 10.3789 25.7949 13.2307 26.9231 17.1008Z' fill='%23212324'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem;
        height: 1rem;
      }
    }

    &--max {
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.80627 19.1452C7.92204 19.1452 7.0464 18.8689 5.52434 17.7639C4.56159 19.0071 1.51289 19.9786 1.37994 18.3164C1.37994 17.0686 1.10487 16.0142 0.79312 14.8631C0.421775 13.4449 0 11.8656 0 9.57721C0 4.11175 4.46532 0 9.75585 0C15.051 0 19.1999 4.31435 19.1999 9.62786C19.2177 14.8592 15.0149 19.1173 9.80627 19.1452ZM9.88421 4.72414C7.30771 4.59062 5.2997 6.38174 4.855 9.19044C4.48824 11.5157 5.13924 14.3474 5.69397 14.4947C5.95987 14.5592 6.62921 14.0159 7.0464 13.5969C7.73624 14.0755 8.53956 14.363 9.37533 14.4303C12.045 14.5592 14.3261 12.518 14.5054 9.83966C14.6098 7.15567 12.5543 4.88234 9.88421 4.72875L9.88421 4.72414Z' fill='%23212324'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem;
        height: 1rem;
      }
    }

    &--odn {
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='23' viewBox='0 0 13 23' fill='none'%3E%3Cpath d='M12.6065 12.0303C12.3084 11.3918 11.4674 10.8542 10.3496 11.7615C8.82724 13.0384 6.4 13.0384 6.4 13.0384C6.4 13.0384 3.97276 13.0384 2.45041 11.7615C1.33261 10.8542 0.49159 11.3918 0.193508 12.0303C-0.338781 13.1504 0.257383 13.6993 1.6094 14.6066C2.76979 15.3907 4.35601 15.682 5.37801 15.794L4.52634 16.6901C3.31272 17.9558 2.14169 19.1768 1.34325 20.0281C0.864192 20.5434 0.864192 21.3611 1.34325 21.8427L1.49229 22.022C1.97135 22.526 2.75914 22.526 3.2382 22.022L6.4 18.6839C7.62427 19.9497 8.78466 21.1706 9.59373 22.022C10.0728 22.526 10.8499 22.526 11.3396 22.022L11.478 21.8427C11.9677 21.3611 11.9677 20.5434 11.478 20.0281L8.3056 16.6901L7.46458 15.7828C8.47593 15.682 10.0409 15.3795 11.1906 14.6066C12.5426 13.6993 13.1388 13.1504 12.6065 12.0303ZM6.4 2.87876C7.86912 2.87876 9.06145 4.13332 9.06145 5.66791C9.06145 7.2137 7.86912 8.45706 6.4 8.45706C4.93088 8.45706 3.73855 7.2137 3.73855 5.66791C3.73855 4.13332 4.93088 2.87876 6.4 2.87876ZM6.4 11.3358C9.38082 11.3358 11.7868 8.8043 11.7868 5.66791C11.7868 4.16469 11.2192 2.72303 10.209 1.66009C9.1988 0.597153 7.82866 0 6.4 0C4.97134 0 3.6012 0.597153 2.59098 1.66009C1.58077 2.72303 1.01323 4.16469 1.01323 5.66791C1.01323 8.8043 3.41918 11.3358 6.4 11.3358Z' fill='%23212324'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem;
        height: 1rem;
      }
    }

    &--rut {
      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cg clip-path='url(%23clip0_12_2042)'%3E%3Cmask id='mask0_12_2042' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='-1' y='0' width='26' height='26'%3E%3Cpath d='M24.9995 0.00390625H-0.000488281V25.0039H24.9995V0.00390625Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_2042)'%3E%3Cpath d='M15.4425 11.9312H8.05663V9.00852H15.4425C15.8739 9.00852 16.1739 9.08373 16.3245 9.21504C16.475 9.34637 16.5683 9.58993 16.5683 9.94572V10.9952C16.5683 11.37 16.475 11.6136 16.3245 11.7449C16.1739 11.8762 15.8739 11.9324 15.4425 11.9324V11.9312ZM15.9492 6.25307H4.92432V18.752H8.05663V14.6856H13.8292L16.5683 18.752H20.0758L17.0559 14.6665C18.1693 14.5015 18.6692 14.1603 19.0815 13.598C19.4938 13.0356 19.7006 12.1366 19.7006 10.9368V9.9996C19.7006 9.288 19.6253 8.72568 19.4938 8.2947C19.3624 7.8637 19.1378 7.48883 18.8186 7.1521C18.4816 6.83335 18.1063 6.60887 17.6558 6.45847C17.2053 6.32716 16.6424 6.25195 15.9492 6.25195V6.25307Z' fill='%23212324'/%3E%3Cpath d='M37.4995 0.00196075C37.4995 6.90552 31.9031 12.502 24.9995 12.502C23.5959 12.502 22.2465 12.2706 20.987 11.844C21.0139 11.547 21.0258 11.2433 21.0258 10.9368V9.99961C21.0258 9.20385 20.9427 8.50241 20.7614 7.90794C20.5658 7.26688 20.2306 6.71518 19.7804 6.24021L19.7554 6.21385L19.7291 6.18889C19.2495 5.73531 18.7058 5.41152 18.0751 5.20093L18.0508 5.19285L18.0263 5.18569C17.4258 5.01067 16.7326 4.9262 15.9487 4.9262H14.6229V4.92731H13.5073C12.8587 3.41591 12.4995 1.75088 12.4995 0.00196075C12.4995 -6.90161 18.096 -12.498 24.9995 -12.498C31.9031 -12.498 37.4995 -6.90161 37.4995 0.00196075Z' fill='%23212324'/%3E%3C/g%3E%3Cpath d='M20.8112 0.19043H4.18994C1.9808 0.19043 0.189941 1.98129 0.189941 4.19043V20.8116C0.189941 23.0208 1.9808 24.8116 4.18994 24.8116H20.8112C23.0203 24.8116 24.8112 23.0208 24.8112 20.8116V4.19043C24.8112 1.98129 23.0203 0.19043 20.8112 0.19043Z' stroke='%23212324' stroke-width='1.6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_2042'%3E%3Crect width='25' height='25' rx='4' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__map {
    width: 100%;
    height: 37.5rem;

    & iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {
    &.section {
      padding-top: 2rem;
    }

    .section__header {
      margin-bottom: 1.2rem;
    }

    &__container {
      padding: 0 0.8rem;
    }

    &__grid {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
      margin-bottom: 1.6rem;
    }

    &__item {
      max-width: none;
      width: 100%;
      gap: 1rem;

      &--time {
        max-width: none;
      }
    }

    &__buttons {
      width: 100%;
      flex-direction: column;
      gap: 0.6rem;

      .btn {
        width: 100%;
      }

      .btn-secondary {
        order: -1;
      }
    }

    &__map {
      height: 25rem;
    }
  }
}