:root {
  --cookie-container-padding: 30px;
  --cookie-container-border-radius: 0;
  --cookie-icon-border-radius: 0px;
  --cookie-vertical-offset: 20px;
  --cookie-horizontal-offset: 20px;
  --cookie-main-color: #212529;
  --cookie-accent-color: #bca271;
  --cookie-alt-color: var(--bs-body-bg);
  --cookie-border-color: #f5f3e4;
}

.cookie-consent {
  position: fixed;
  z-index: 100;
  padding: var(--cookie-container-padding);
  border-radius: var(--cookie-container-border-radius);
  color: var(--cookie-main-color);
  border: 1px solid var(--cookie-border-color);
  transition: opacity 0.4s ease-in-out;
  box-shadow: 0 0.35rem 1.25rem rgba(48, 5, 14, 0.18);

  &-hidden {
    opacity: 0;
  }

  &.light {
    background-color: var(--cookie-alt-color);
  }

  &.dark {
    background-color: var(--cookie-main-color);
    color: var(--cookie-alt-color);
  }

  &.column {
    max-width: 450px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &.row {
    display: flex;
    gap: 20px;
    --bs-gutter-x: 0;

    & > * {
      width: fit-content;
    }

    &.cookie-consent {
      align-items: center;
    }

    .cookie-consent {
      &-content {
        p {
          text-wrap: unset;
          max-width: 710px;
        }
      }

      &-close {
        top: 13px;
        right: 13px;
      }
    }
  }

  &.mixed {
    display: flex;
    gap: 20px;
    max-width: 500px;

    .cookie-consent {
      &-content {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }

  &.top {
    top: var(--cookie-horizontal-offset);
  }

  &.left {
    left: var(--cookie-vertical-offset);
  }

  &.right {
    right: var(--cookie-horizontal-offset);
  }

  &.bottom {
    bottom: var(--cookie-vertical-offset);
  }

  &.center {
    left: 50%;
    translate: -50% 0;
  }

  &-icon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    background-color: var(--cookie-accent-color);
    border-radius: var(--cookie-icon-border-radius);
    padding: 9px;

    &::before {
      content: '';
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: var(--cookie-alt-color);
      width: 100%;
      height: 100%;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_2309_23510)'%3E%3Cpath d='M15.0556 18.1112C15.7788 18.1112 16.3651 17.5249 16.3651 16.8017C16.3651 16.0785 15.7788 15.4922 15.0556 15.4922C14.3324 15.4922 13.7461 16.0785 13.7461 16.8017C13.7461 17.5249 14.3324 18.1112 15.0556 18.1112Z' fill='white'/%3E%3Cpath d='M8.0732 17.2382C8.79643 17.2382 9.38272 16.6519 9.38272 15.9287C9.38272 15.2054 8.79643 14.6191 8.0732 14.6191C7.34997 14.6191 6.76367 15.2054 6.76367 15.9287C6.76367 16.6519 7.34997 17.2382 8.0732 17.2382Z' fill='white'/%3E%3Cpath d='M7.1982 11.1269C7.92143 11.1269 8.50772 10.5406 8.50772 9.81734C8.50772 9.09411 7.92143 8.50781 7.1982 8.50781C6.47497 8.50781 5.88867 9.09411 5.88867 9.81734C5.88867 10.5406 6.47497 11.1269 7.1982 11.1269Z' fill='white'/%3E%3Cpath d='M12.4345 12.873C13.1578 12.873 13.744 12.2867 13.744 11.5634C13.744 10.8402 13.1578 10.2539 12.4345 10.2539C11.7113 10.2539 11.125 10.8402 11.125 11.5634C11.125 12.2867 11.7113 12.873 12.4345 12.873Z' fill='white'/%3E%3Cpath d='M22.4758 11.9999C21.0866 11.9999 19.7543 11.448 18.7719 10.4657C17.7896 9.48334 17.2377 8.15101 17.2377 6.76178C15.8485 6.76178 14.5162 6.20991 13.5338 5.22757C12.5515 4.24524 11.9996 2.91291 11.9996 1.52368C9.92764 1.52368 7.90217 2.1381 6.17937 3.28924C4.45657 4.44038 3.11381 6.07653 2.32089 7.99081C1.52798 9.90508 1.32051 12.0115 1.72474 14.0437C2.12897 16.0759 3.12673 17.9425 4.59185 19.4077C6.05697 20.8728 7.92365 21.8705 9.95583 22.2748C11.988 22.679 14.0944 22.4715 16.0087 21.6786C17.923 20.8857 19.5591 19.5429 20.7103 17.8201C21.8614 16.0973 22.4758 14.0719 22.4758 11.9999Z' stroke='white' stroke-width='1.57143' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2309_23510'%3E%3Crect width='22.8571' height='22.8571' fill='white' transform='translate(0.572266 0.571411)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &-title {
    line-height: 100%;
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
  }

  &-content {
    p {
      font-size: 16px;
      text-wrap: balance;
    }

    a {
      color: var(--cookie-accent-color);
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  &-close {
    position: absolute;
    top: 21px;
    right: 21px;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: currentColor;
    width: 16px;
    height: 16px;
    cursor: pointer;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.2008 2.7998L2.80078 13.1999M2.80078 2.7998L13.2008 13.1999' stroke='%23514F6E' stroke-width='1.20001' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    display: none;
  }

  &-accept {
    border-radius: var(--cookie-icon-border-radius);
    background-color: var(--cookie-accent-color);
    color: var(--white);
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 4px;
  }

  &-reject {
    background-color: var(--cookie-alt-color);
    border: solid 1px var(--cookie-accent-color);
    border-radius: var(--cookie-icon-border-radius);
    padding: 13px 20px;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    @media (max-width: 767px) {
      width: 100% !important;
      // display: grid;
      // grid-template-columns: repeat(2, minmax(0, 1fr));

      .button {
        width: 100%;
        color: #fff;
      }
    }
  }
}

@media (max-width: 767px) {
  .cookie-consent,
  .cookie-consent.top,
  .cookie-consent.center,
  .cookie-consent.bottom,
  .cookie-consent.right,
  .cookie-consent.left,
  .cookie-consent.mixed {
    top: unset;
    right: 16px;
    bottom: 16px;
    left: 16px;
    translate: none;
    width: auto;
    max-width: none;
    padding: 16px 16px 20px;
    gap: 16px;

    &.row {
      flex-direction: column;
      align-items: stretch;
    }

    &.mixed {
      .cookie-consent-content {
        p {
          margin-bottom: 16px;
        }
      }
    }

    .cookie-consent-close {
      top: 13px;
      right: 13px;
    }

    .cookie-consent-icon {
      display: none;
    }

    .cookie-consent-title {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .cookie-consent-buttons .button,
    .cookie-consent-buttons button {
      width: 100%;
      height: 44px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.cookie-consent-reject {
        display: none;
      }
    }

    .cookie-consent-content {
      p {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
        text-wrap: balance;
      }

      a {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}
